version: "3.9"

services:
  backend:
    build: ./server
    container_name: backend
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "80:80"
    restart: unless-stopped
