services:
  server:
    build: ./server
    container_name: server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: unless-stopped

  client:
    build: ./client
    container_name: client
    ports:
      - "3000:80"
    env_file:
      - ./client/.env
    depends_on:
      - server
    restart: unless-stopped
